body {
    background-color: #6a89cc;
}

.app {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

.text {
    margin-bottom: 15px;
}

.name {
    color: #394472;
    margin-bottom: 30px;
}

.bt_login {
    width: 180px;
    height: 50px;
    background-color: #394472;
    color: white;
    border: none;
}

.bt_login:hover {
    background-color: #5666a8;
}

#alerta {
    margin-top: 20px;
}