body {
    min-width: 550px;
}

.menubar {
    background-color: #6a89cc;
}

.logomark {
    text-align: center;
}

.logo {
    padding: 0;
    max-height: 80px;
    margin-top: 10px;
}

.title {
    font-family: 'Fira Code';
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    color: #394472;
    font-size: 40px;
}

.title1{
    font-family: 'Fira Code';
    color: #394472;
    margin-left: 30px;
}

.doc_num {
    width: 50px;
}

.side1 {
    margin-top: 15px;
}

.side1 p {
    font-family: 'Fira Code';
    font-size: 15px;
}

.btn_bar {
    margin-left: 23px;
    margin-top: 5px;
    width: 150px;
    height: 100px;
    border: none;
    font-family: 'Fira Code';
    color: white;
    background-color: #394472;
}

.bar1 {
    margin-left: 40px;
    margin-right: 20px;
}

.chart {
    padding-top: 20px;
    max-width: 1100px;
    max-height: 600px;
    min-height: 400px;
}

.btn_go {
    background-color: #394472;
    color: white;
    border: none;
    height: 30px;
    width: 60px;
}

.data {
    margin-left: 20px;
    margin-top: 20px;
}